@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<dt class="col-sm-4">
    
        @ViewData["region"]
    <div>
        <input type="text" id="txtsubdomain" />
        <button type="submit" id="btnsubmit">Submit</button>
    </div>
</dt>
