@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<p>This is not an official source for data that your are looking for. We have tried our best to make sure that the content in this website is upto date and acurate. This is maintained by people who use ISPSS.</p>
